.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    row-gap: 30px;
    max-width: 1040px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 20px;
}