.container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;

}

.card {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 16px;
    overflow: hidden;
    max-height: 300px;
    width: calc(300px / 1.3);
    position: relative;
    margin-right: 20px;
}

.description {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    text-align: start;
    font-size: 18px;

}

.img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Optional: Maintain the aspect ratio and fill the container */
}

.text {
    width: 100%;
}